YIJIE_ENV=local
YIJIE_API_POSTGRES_DSN=postgres://yijie:yijie@localhost:5432/yijie_api?sslmode=disable
YIJIE_API_REDIS_URL=redis://localhost:6379/0
YIJIE_KNOWLEDGE_POSTGRES_DSN=postgres://yijie:yijie@localhost:5433/yijie_knowledge?sslmode=disable
