{
	admin 127.0.0.1:2019
	auto_https disable_redirects
	skip_install_trust
}

https://localhost:8443 {
	tls internal

	reverse_proxy feat126-s10-keycloak:8080 {
		header_up X-Forwarded-Proto https
		header_up X-Forwarded-Host localhost:8443
		header_up X-Forwarded-Port 8443
	}
}

https://localhost:9443 {
	tls internal

	@legacy_tasks path /v1/tasks /v1/tasks/*
	respond @legacy_tasks 404

	reverse_proxy host.docker.internal:18080
}
